*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  padding-bottom: 5px;
}
body {
  min-height: 100vh;
  color: #181818;
  background: white;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.header h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
  line-height: 48px;
}
.header img {
  width: 48px;
  height: 48px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.board-container {
  display: flex;
}
.finish-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
}
.finish-message p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: goldenrod;
  font-weight: 600;
}
img[alt] {
  font-size: 15px;
}
.top-info-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0px;
  position: relative;
}
.bottom-tools-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.tool-item {
  display: flex;
  min-width: 90px;
}
.tool-item.end {
  justify-content: flex-end;
}
.tool-item span {
  font-size: 15px;
}
.tool-item > .time {
  display: flex;
  justify-content: flex-end;
  font-family: 'consolas';
}
.tool-button {
  display: flex;
  width: 70px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  border: 1px solid grey;
  color: navy;
  border-radius: 8px;
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.tool-item .pause-button {
  margin-left: 20px;
}
.moves-count {
  min-width: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: 'consolas';
}
.instruction {
  text-align: center;
  max-width: 380px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
}
.records {
  align-items: flex-end;
}
.records span {
  font-size: 15px;
  font-style: italic;
  color: navy;
}
.records .caption {
  margin-right: 3px;
}
.red {
  color: red !important;
}
.cur-auto {
  cursor: auto !important;
}
@media screen and (max-width: 601px) {
  .instruction {
    max-width: 300px;
  }
}
@media screen and (max-width: 401px) {
  .instruction {
    text-align: left;
    max-width: 270px;
  }
  .tool-item .pause-button {
    margin-left: 3px;
  }
  .records span {
    font-size: 14px;
    font-style: italic;
    color: navy;
  }
}
.tool-button:disabled {
  cursor: auto;
  opacity: 0.5;
}
@media screen and (min-width: 600px) {
  .tool-button:hover:not([disabled]) {
    background-color: #2db3d525;
  }
}
