*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  padding-bottom: 5px;
}
body {
  min-height: 100vh;
  color: #181818;
  background: white;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 44px;
  align-items: center;
}
header img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.board-container {
  display: flex;
}
.finish-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
}
.finish-message p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: goldenrod;
  font-weight: 600;
}
img[alt] {
  font-size: 12px;
}
.top-info-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0px;
  position: relative;
}
.bottom-tools-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5px;
}
.tool-item {
  display: flex;
  min-width: 90px;
}
.tool-item.end {
  justify-content: flex-end;
}
.tool-item > .time {
  display: flex;
  justify-content: flex-end;
  font-family: 'consolas';
}
.tool-button {
  display: flex;
  width: 70px;
  height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  border: 1px solid grey;
  color: navy;
  border-radius: 3px;
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.tool-item .pause-button {
  margin-left: 20px;
}
.tool-item .green-button {
  color: green;
  background-color: white;
}
.moves-count {
  min-width: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: 'consolas';
}
.instruction {
  text-align: center;
  max-width: 360px;
  font-size: 14px;
  margin-top: 10px;
}
.records {
  align-items: flex-end;
}
.records span {
  font-size: 14px;
  font-style: italic;
  color: navy;
}
.red {
  color: red !important;
}
@media screen and (max-width: 601px) {
  .instruction {
    text-align: left;
    max-width: 270px;
    font-size: 12px;
  }
  .tool-item .pause-button {
    margin-left: 3px;
  }
  .records span {
    font-size: 13px;
    font-style: italic;
    color: navy;
  }
}
.tool-button:disabled {
  cursor: auto;
  opacity: 0.5;
}
@media screen and (min-width: 600px) {
  .tool-button:hover:not([disabled]) {
    background-color: #2db3d525;
  }
  .tool-item .green-button:hover:not([disabled]) {
    color: green;
    background-color: white;
  }
}
